<link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">

@main("Sandbook Tool") {
<div class="login-container">
        <div class="form-wrap">
            <div id="main-logo"><a href="@routes.Application.dashboard"><img src="@routes.Assets.at("images/logo_black.png")"/></a></div>
        <form class="login" action="@routes.Application.dashboard">
            <input type="text" placeholder="User *"/>
            <input type="password" placeholder="Password *"/>
            <button type="submit" class="login-button">LOGIN</button>
            <select name="language" class="select-lang" onchange="" >
                <option value=" ">-------</option>
                <option value="es" >Español</option>
                <option value="en" >English</option>
            </select>
        </form>
    </div>
</div>
<script>
    $('input:first-of-type').focus();
</script>
}
