<nav id="products">
<button>Choose Category</button>
<ul id="navigation">
@nav2()
@nav3()
@nav4()
<li class="navigation-item ">
<h2>
    <a href="/sale-event/jewelry.jsp?CN=4294719765" rel="800019" class="navigation-item-link" title="Jewelry &amp; Watches">Jewelry &amp; Watches</a>
</h2>
<div class="display-none nav-overlay clearfix newNavGroup">
<ul class="nav-column nav-column-1">
    <li class="nav-group">
        <h3>
            <a href="/catalog/fine-jewelry.jsp?CN=4294722253+4294719765" title="Fine Jewelry ">Fine Jewelry</a>
        </h3>
        <ul>
            <li>
                <a href="/catalog/fine-rings-jewelry.jsp?CN=4294722253+4294719588+4294719765" title="Rings">Rings</a>
            </li>
            <li>
                <a href="/catalog/fine-necklaces-jewelry.jsp?CN=4294722253+4294719764+4294719765" title="Necklaces ">Necklaces</a>
            </li>
            <li>
                <a href="/catalog/fine-earrings-jewelry.jsp?CN=4294722253+4294719445+4294719765" title="Earrings ">Earrings</a>
            </li>
            <li>
                <a href="/catalog/fine-bracelets-jewelry.jsp?CN=4294722253+4294719671+4294719765" title="Bracelets ">Bracelets</a>
            </li>
            <li>
                <a href="/sale-event/beads-and-charms-jewelry.jsp?CN=4294719682+4294719765" title="Beads &amp; Charms ">Beads &amp; Charms</a>
            </li>
        </ul>
    </li>
    <li class="nav-group">
        <h3>
            <a href="/catalog/diamond-jewelry.jsp?CN=4294737999+4294719765" title="Diamonds ">Diamonds</a>
        </h3>
        <ul>
            <li>
                <a href="/sale-event/diamond-jewelry.jsp?CN=4294737999+4294719765" title="Wedding &amp; Engagement">Wedding &amp; Engagement</a>
            </li>
            <li>
                <a href="/catalog/top-engagement-rings-jewelry.jsp?CN=4294715900+4294719765" title="Top 25 Engagement Rings">Top 25 Engagement Rings</a>
            </li>
            <li>
                <a href="/catalog/diamond-rings-jewelry.jsp?CN=4294737999+4294719588+4294719765" title="Diamond Rings">Diamond Rings</a>
            </li>
            <li>
                <a href="/catalog/diamond-necklaces-jewelry.jsp?CN=4294737999+4294719764+4294719765" title="Diamond Necklaces">Diamond Necklaces</a>
            </li>
            <li>
                <a href="/catalog/diamond-earrings-jewelry.jsp?CN=4294737999+4294719445+4294719765" title="Diamond Earrings ">Diamond Earrings</a>
            </li>
            <li>
                <a href="/catalog/diamond-bracelets-jewelry.jsp?CN=4294737999+4294719671+4294719765" title="Diamond Bracelets ">Diamond Bracelets</a>
            </li>
            <li>
                <a href="/catalog/diamond-studs-earrings-jewelry.jsp?CN=4294713935+4294719445+4294719765" title="Diamond Studs">Diamond Studs</a>
            </li>
        </ul>
    </li>
    <li class="nav-group">
        <h3>
            <a href="/catalog/engagement-rings-jewelry.jsp?CN=4294735571+4294719588+4294719765" title="Engagement Rings ">Engagement Rings</a>
        </h3>
    </li>
</ul>
<ul class="nav-column nav-column-2">
    <li class="nav-group">
        <h3>
            <a href="/catalog/sterling-silver-jewelry.jsp?CN=4294736387+4294719765" title="Silver Jewelry ">Silver Jewelry</a>
        </h3>
        <ul>
            <li>
                <a href="/catalog/sterling-silver-rings-jewelry.jsp?CN=4294736387+4294719588+4294719765" title="Silver Rings ">Silver Rings</a>
            </li>
            <li>
                <a href="/catalog/sterling-silver-necklaces-jewelry.jsp?CN=4294736387+4294719764+4294719765" title="Silver Necklaces ">Silver Necklaces</a>
            </li>
            <li>
                <a href="/catalog/sterling-silver-earrings-jewelry.jsp?CN=4294736387+4294719445+4294719765" title="Silver Earrings ">Silver Earrings</a>
            </li>
            <li>
                <a href="/catalog/sterling-silver-bracelets-jewelry.jsp?CN=4294736387+4294719671+4294719765" title="Silver Bracelets ">Silver Bracelets</a>
            </li>
            <li>
                <a href="/catalog/sterling-silver-jewelry.jsp?CN=4294736387+4294719765" title="Shop all Silver ">Shop all Silver</a>
            </li>
        </ul>
    </li>
    <li class="nav-group">
        <h3>
            <a href="/catalog/fashion-jewelry.jsp?CN=4294720925+4294719765" title="Fashion Jewelry ">Fashion Jewelry</a>
        </h3>
        <ul>
            <li>
                <a href="/catalog/fashion-rings-jewelry.jsp?CN=4294720925+4294719588+4294719765" title="Fashion Rings">Fashion Rings</a>
            </li>
            <li>
                <a href="/catalog/fashion-necklaces-jewelry.jsp?CN=4294720925+4294719764+4294719765" title="Fashion Necklaces">Fashion Necklaces</a>
            </li>
            <li>
                <a href="/catalog/fashion-earrings-jewelry.jsp?CN=4294720925+4294719445+4294719765" title="Fashion Earrings">Fashion Earrings</a>
            </li>
            <li>
                <a href="/catalog/fashion-bracelets-jewelry.jsp?CN=4294720925+4294719671+4294719765" title="Fashion Bracelets">Fashion Bracelets</a>
            </li>
            <li>
                <a href="/catalog/fashion-jewelry.jsp?CN=4294720925+4294719765" title="Shop all Fashion">Shop all Fashion</a>
            </li>
        </ul>
    </li>
    <li class="nav-group">
        <h3>
            <a href="/catalog.jsp?N=3000054743" title="Jewelry Trend Shop ">Jewelry Trend Shop</a>
        </h3>
    </li>
</ul>
<ul class="nav-column nav-column-3">
    <li class="nav-group">
        <h3>
            More
        </h3>
        <ul>
            <li>
                <a href="/catalog/gemstone-jewelry.jsp?CN=4294720951+4294719765" title="Gemstone Jewelry ">Gemstone Jewelry</a>
            </li>
            <li>
                <a href="/catalog/pearl-jewelry.jsp?CN=4294735407+4294719765" title="Pearl Jewelry">Pearl Jewelry</a>
            </li>
            <li>
                <a href="/catalog/gold-jewelry.jsp?CN=4294735791+4294719765" title="Gold Jewelry ">Gold Jewelry</a>
            </li>
            <li>
                <a href="/catalog/jewelry-storage-storage-and-organization-home-and-clothing-care.jsp?CN=4294719264+4294719743+4294719744" title="Jewelry Boxes">Jewelry Boxes</a>
            </li>
            <li>
                <a href="/catalog/kids-jewelry.jsp?CN=4294732649+4294719765" title="Kids' Jewelry ">Kids' Jewelry</a>
            </li>
            <li>
                <a href="/catalog/mens-jewelry.jsp?CN=4294723349+4294719765" title="Men's Jewelry">Men's Jewelry</a>
            </li>
            <li>
                <a href="/sale-event/sports-fan-clothing.jsp?CN=4294718600+4294719810" title="Sports Fan Jewelry">Sports Fan Jewelry</a>
            </li>
            <li>
                <a href="/catalog.jsp?N=3000054158" title="Be You Jewelry ">Be You Jewelry</a>
            </li>
        </ul>
    </li>
    <li class="nav-group">
        <h3>
            Sales
        </h3>
        <ul>
            <li>
                <a href="/catalog/clearance-jewelry.jsp?CN=4294736457+4294719765" title="Clearance Jewelry ">Clearance Jewelry</a>
            </li>
            <li>
                <a href="/catalog/closeout-deals-jewelry.jsp?CN=4294732101+4294719765" title="Closeout Jewelry">Closeout Jewelry</a>
            </li>
            <li>
                <a href="/catalog/special-values-watches.jsp?CN=4294717223+4294719448" title="Special Value Watches">Special Value Watches</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="nav-column nav-column-4">
    <li class="nav-group">
        <h3>
            <a href="/sale-event/watches.jsp?CN=4294719448" title="Watches ">Watches</a>
        </h3>
        <ul>
            <li>
                <a href="/catalog/womens-watches.jsp?CN=4294720878+4294719448" title="Women's Watches">Women's Watches</a>
            </li>
            <li>
                <a href="/catalog/mens-watches.jsp?CN=4294723349+4294719448" title="Men's Watches ">Men's Watches</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-watches.jsp?CN=4294718600+4294719448" title="Sports Fan Watches ">Sports Fan Watches</a>
            </li>
            <li>
                <a href="/catalog/watches.jsp?CN=4294719448" title="Shop All Watches">Shop All Watches</a>
            </li>
        </ul>
    </li>
    <li class="nav-group">
        <h3>
            Watch Brands
        </h3>
        <ul>
            <li>
                <a href="/catalog/citizen-watches.jsp?CN=4294874313+4294719448" title="Citizen ">Citizen</a>
            </li>
            <li>
                <a href="/catalog/bulova-watches.jsp?CN=4294874199+4294719448" title="Bulova">Bulova</a>
            </li>
            <li>
                <a href="/catalog/seiko-watches.jsp?CN=4294874315+4294719448" title="Seiko">Seiko</a>
            </li>
            <li>
                <a href="/catalog/casio-watches.jsp?CN=4294873634+4294719448" title="Casio">Casio</a>
            </li>
            <li>
                <a href="/catalog/timex-watches.jsp?CN=4294874329+4294719448" title="Timex">Timex</a>
            </li>
        </ul>
    </li>
</ul>
</div>
</li>
<li class="navigation-item ">
<h2>
    <a href="/sale-event/sports-fan-clothing.jsp?CN=4294718600+4294719810" rel="2700056" class="navigation-item-link" title="Sports Fan">Sports Fan</a>
</h2>
<div class="display-none nav-overlay clearfix newNavGroup">
<ul class="nav-column nav-column-1">
    <li class="nav-group">
        <h3>
            <a href="/sale-event/sports-fan-ncaa-clothing.jsp?CN=4294718600+4294736910+4294719810&amp;icid=sfmb|mbs1" title="NCAA Fan Shop">NCAA Fan Shop</a>
        </h3>
        <ul>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=alabama%20crimson%20tide&amp;S=3" title="Alabama">Alabama</a>
            </li>
            <li>
                <a href="http://www.kohls.com/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=duke%20blue%20devils&amp;S=3" title="Duke">Duke</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=florida%20gators&amp;S=3" title="Florida">Florida</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=georgia%20bulldogs&amp;S=3" title="Georgia">Georgia</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=indiana%20hoosiers&amp;S=3" title="Indiana">Indiana</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=iowa%20hawkeyes&amp;S=3" title="Iowa">Iowa</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=kentucky%20wildcats&amp;S=3" title="Kentucky">Kentucky</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=michigan%20wolverines&amp;S=3" title="Michigan">Michigan</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=michigan%20state%20spartans&amp;S=3" title="Michigan State">Michigan State</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=minnesota%20golden%20gophers&amp;S=3" title="Minnesota">Minnesota</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=missouri%20tigers&amp;S=3" title="Missouri">Missouri</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=north%20carolina%20tar%20heels&amp;S=3" title="North Carolina">North Carolina</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=ohio%20state%20buckeyes&amp;S=3" title="Ohio State">Ohio State</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=penn%20state%20nittany%20lions&amp;S=3" title="Penn State">Penn State</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=syracuse%20orange&amp;S=3" title="Syracuse">Syracuse</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=texas%20longhorns&amp;S=3" title="Texas">Texas</a>
            </li>
            <li>
                <a href="/search/sports-fan-ncaa.jsp?CN=4294718600+4294736910&amp;search=wisconsin%20badgers&amp;S=2" title="Wisconsin">Wisconsin</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="nav-column nav-column-2">
    <li class="nav-group">
        <h3>
            <a href="/sale-event/sports-fan-mlb-clothing.jsp?CN=4294718600+4294736741+4294719810" title="MLB Fan Shop">MLB Fan Shop</a>
        </h3>
        <ul>
            <li>
                <a href="/search/sports-fan-mlb.jsp?CN=4294718600+4294736741&amp;search=boston%20red%20sox&amp;S=3" title="Boston Red Sox">Boston Red Sox</a>
            </li>
            <li>
                <a href="/search/sports-fan-mlb.jsp?CN=4294718600+4294736741&amp;search=new%20york%20yankees&amp;S=3" title="New York Yankees">New York Yankees</a>
            </li>
            <li>
                <a href="/search/sports-fan-mlb.jsp?CN=4294718600+4294736741&amp;search=detroit%20tigers&amp;S=3" title="Detroit Tigers">Detroit Tigers</a>
            </li>
            <li>
                <a href="http://www.kohls.com/search/sports-fan-mlb.jsp?CN=4294718600+4294736741&amp;search=st%20louis%20cardinals&amp;S=3" title="St Louis Cardinals">St Louis Cardinals</a>
            </li>
            <li>
                <a href="http://www.kohls.com/search/sports-fan-mlb.jsp?CN=4294718600+4294736741&amp;search=milwaukee%20brewers&amp;S=3" title="Milwaukee Brewers">Milwaukee Brewers</a>
            </li>
        </ul>
    </li>
    <li class="nav-group">
        <h3>
            <a href="/catalog/sports-fan-nfl.jsp?CN=4294718600+4294736801" title="NFL Fan Shop">NFL Fan Shop</a>
        </h3>
        <ul>
            <li>
                <a href="/search/sports-fan-nfl.jsp?CN=4294718600+4294736801&amp;search=green%20bay%20packers&amp;S=3" title="Green Bay Packers">Green Bay Packers</a>
            </li>
            <li>
                <a href="/search/sports-fan-nfl.jsp?CN=4294718600+4294736801&amp;search=chicago%20bears&amp;S=3" title="Chicago Bears">Chicago Bears</a>
            </li>
            <li>
                <a href="/search/sports-fan-nfl.jsp?CN=4294718600+4294736801&amp;search=denver%20broncos&amp;S=3" title="Denver Broncos">Denver Broncos</a>
            </li>
            <li>
                <a href="/search/sports-fan-nfl.jsp?CN=4294718600+4294736801&amp;search=new%20england%20patriots&amp;S=3" title="New England Patriots">New England Patriots</a>
            </li>
            <li>
                <a href="/search/sports-fan-nfl.jsp?CN=4294718600+4294736801&amp;search=seattle%20seahawks&amp;S=3" title="Seattle Seahawks">Seattle Seahawks</a>
            </li>
        </ul>
    </li>
    <li class="nav-group">
        <h3>
            <a href="/catalog/sports-fan-nba.jsp?CN=4294718600+4294735631" title="NBA Fan Shop">NBA Fan Shop</a>
        </h3>
        <ul>
            <li>
                <a href="/search/sports-fan-nba.jsp?CN=4294718600+4294735631&amp;search=chicago%20bulls&amp;S=3" title="Chicago Bulls">Chicago Bulls</a>
            </li>
            <li>
                <a href="/search/sports-fan-nba.jsp?CN=4294718600+4294735631&amp;search=miami%20heat&amp;S=3" title="Miami Heat">Miami Heat</a>
            </li>
            <li>
                <a href="/search/sports-fan-nba.jsp?CN=4294718600+4294735631&amp;search=oklahoma%20city%20thunder&amp;S=3" title="Oklahoma City Thunder">Oklahoma City Thunder</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="nav-column nav-column-3">
    <li class="nav-group">
        <h3>
            Shop More Sports
        </h3>
        <ul>
            <li>
                <a href="/catalog/sports-fan-nhl.jsp?CN=4294718600+4294735629" title="NHL">NHL</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-nascar.jsp?CN=4294718600+4294735690" title="NASCAR">NASCAR</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-soccer.jsp?CN=4294718600+4294734569" title="Soccer">Soccer</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-olympics.jsp?CN=4294718600+4294734188" title="Olympics">Olympics</a>
            </li>
        </ul>
    </li>
    <li class="nav-group">
        <h3>
            Fan Favorites
        </h3>
        <ul>
            <li>
                <a href="/catalog/sports-fan-beads-charms-jewelry.jsp?CN=4294719026+4294719682+4294719765" title="Beads &amp; Charms">Beads &amp; Charms</a>
            </li>
            <li>
                <a href="/sale-event/golf.jsp?CN=4294735315" title="Golf Gear">Golf Gear</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-scarves-wraps-accessories-accessories.jsp?CN=4294718600+4294719258+4294719516+4294717956&amp;N=4294718600+4294717956+4294719516+4294719515+4294719258" title="Hats &amp; Scarves">Hats &amp; Scarves</a>
            </li>
            <li>
                <a href="/catalog/hoodies-and-sweatshirts-sports-fan.jsp?CN=4294721899+4294718600" title="Hoodies">Hoodies</a>
            </li>
            <li>
                <a href="/catalog/jerseys-sports-fan-clothing.jsp?CN=4294728727+4294718600+4294719810" title="Jerseys">Jerseys</a>
            </li>
            <li>
                <a href="/catalog/player-tees-sports-fan.jsp?CN=4294717977+4294718600" title="Player Tees">Player Tees</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-tailgating-games-sports-and-fitness.jsp?CN=4294718600+4294719204+4294719676" title="Tailgating">Tailgating</a>
            </li>
            <li>
                <a href="/catalog/t-shirts-sports-fan-tops-clothing.jsp?CN=4294722181+4294718600+4294719805+4294719810" title="T-Shirts">T-Shirts</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="nav-column nav-column-4">
    <li class="nav-group">
        <h3>
            Categories
        </h3>
        <ul>
            <li>
                <a href="/catalog/sports-fan-accessories.jsp?CN=4294718600+4294717956" title="Accessories">Accessories</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-baby-gear.jsp?CN=4294718600+4294719566" title="Baby Gear">Baby Gear</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-bed-and-bath.jsp?CN=4294718600+4294719803" title="Bed &amp; Bath">Bed &amp; Bath</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-clothing.jsp?CN=4294718600+4294719810" title="Clothing">Clothing</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-collectibles-and-kits-home-decor-furniture-and-decor.jsp?CN=4294718600+4294719496+4294719786+4294719779" title="Collectibles &amp; Memorabilia">Collectibles &amp; Memorabilia</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-electronics.jsp?CN=4294718600+4294719631" title="Electronics">Electronics</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-furniture-and-decor.jsp?CN=4294718600+4294719779" title="Furniture &amp; Decor">Furniture &amp; Decor</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-jewelry.jsp?CN=4294718600+4294719765" title="Jewelry">Jewelry</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-kitchen-and-dining.jsp?CN=4294718600+4294719799" title="Kitchen &amp; Dining">Kitchen &amp; Dining</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-luggage-and-backpacks.jsp?CN=4294718600+4294719717" title="Luggage">Luggage</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-shoes.jsp?CN=4294718600+4294719777" title="Sandals &amp; Slippers">Sandals &amp; Slippers</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-stationery-and-office-supplies.jsp?CN=4294718600+4294719126" title="Stationery">Stationery</a>
            </li>
            <li>
                <a href="/catalog/sports-fan-watches.jsp?CN=4294718600+4294719448" title="Watches">Watches</a>
            </li>
        </ul>
    </li>
    <li class="nav-group">
        <h3>
            <a href="/catalog/clearance-sports-fan.jsp?CN=4294736457+4294718600" title="Clearance">Clearance</a>
        </h3>
    </li>
</ul>
</div>
</li>
</ul>
</nav> 