@(sources: List[Source])
@main("Sandbook Tool"){
@header()

<div id="content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <aside>
        <div id="adv-filters">
            <div class="cuadrito">@Messages("title.date")</div>
            <form action="" method="POST">
                <script>
                $(document).ready(function(){
                       if (localStorage.getItem('dateSelected') != '') {
                            var ds = localStorage.getItem('dateSelected');
                            $('#datepicker').attr('placeholder',ds);
                       }
                       });
                </script>

                <input type="text" id="datepicker" name="date" placeholder="Date">
                <div style="text-align:center; margin-top: 20px">
                    <button class="btn-gm" type="submit">@Messages("filter.dates")</button>
                </div>

                <script>
                $(function() {
                $.datepicker.setDefaults({
                    showOn: "both",
                    buttonImageOnly: true,
                    buttonImage: "/assets/images/icon-calendar.png",
                    buttonText: "Calendar",
                    autoSize: true,
                    onSelect: function (dateText, inst) {
                        localStorage.setItem('dateSelected', dateText);
                    }
                });
                $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd"});
                });
                </script>
            </form>
        </div>
    </aside>
    <section>

            <div class="cuadrito">@Messages("tab.sources")</div>
            @for(source<-sources){
        <div class="prod-teaser">
            <div class="prod-thumb"><img src="@source.getImageUrl"/></div>
            <div class="name">@source.getName</div>
            <div class="styleDescription"><p>@source.getDescription</p></div>
            <div class="styleDescription"><a href="@source.getUrl" target="_blank">@source.getUrl</a></div>
            <button id="submitButton" type="submit" onclick="executeCrawl('@source.getKeyword')">@Messages("btn.execute")</button>

        </div>
        }

    </section>
</div>
@footer()
}