@(sources: List[Source])
@main("Sandbook Tool"){
@header()

<div id="content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <aside>
        <div id="adv-filters">
            <h4 class="details-title">@Messages("title.date")</h4>
            <form action="" method="POST">
                <script>
                $(document).ready(function(){
                       if (localStorage.getItem('dateSelected') != '') {
                            var ds = localStorage.getItem('dateSelected');
                            $('#datepicker').attr('placeholder',ds);
                       }
                       });
                </script>
                <input type="text" id="datepicker" name="date" placeholder="Date">
                <button id="submit" type="submit">@Messages("filter.dates")</button></br>

                <script>
                $(function() {
                $.datepicker.setDefaults({
                    showOn: "both",
                    buttonImageOnly: true,
                    buttonImage: "/assets/images/datepicker.gif",
                    buttonText: "Calendar",
                    autoSize: true,
                    onSelect: function (dateText, inst) {
                        localStorage.setItem('dateSelected', dateText);
                    }
                });
                $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd"});
                });
                </script>
            </form>
        </div>
    </aside>
    <section>

            <h4 class="details-title">@Messages("tab.sources")</h4>
            @for(source<-sources){
        <div class="prod-teaser">
            <div class="prod-thumb"><img src="@source.getImageUrl"/></div>
            <div class="name">@source.getName</div>
            <div class="styleDescription"><p>@source.getDescription</p></div>
            <div class="styleDescription"><a href="@source.getUrl" target="_blank">@source.getUrl</a></div>
            <button id="submitButton" type="submit" onclick="executeCrawl('@source.getKeyword')">@Messages("btn.execute")</button>

        </div>
        }
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
                google.load('visualization', '1.1', {packages: ['controls']});
                google.setOnLoadCallback(drawVisualization);

                function drawVisualization() {

                    var json;
                    $.ajax({
                        url: 'http://localhost:9200/aleph/twitter/_search',
                        type: 'POST',
                        data :
                                JSON.stringify(
                                        {
                                            "query" : { "query_string": {
                                                "query": "trump"
                                            } },
                                            "facets" : {
                                                "tags" : {
                                                    "terms" : {
                                                        "field" : "polarity",
                                                        "size"  : "10"
                                                    }
                                                }
                                            }
                                        }),
                        dataType : 'json',
                        async: false,
                        success: function(data){
                            json = data;
                        }
                    });

                    var dataJSON=[];
                    var Header= ['Tweets', json.facets.tags.terms[2].term, json.facets.tags.terms[1].term, json.facets.tags.terms[0].term];
                    var datas=['trump', json.facets.tags.terms[2].count, json.facets.tags.terms[1].count, json.facets.tags.terms[0].count]
                    dataJSON.push(Header);
                    dataJSON.push(datas);
                    var data = google.visualization.arrayToDataTable(dataJSON);

                    // Define a category picker control for the Gender column
                    var categoryPicker = new google.visualization.ControlWrapper({
                        'controlType': 'CategoryFilter',
                        'containerId': 'control',
                        'options': {
                            'filterColumnLabel': 'Tweets',
                            'ui': {
                                'labelStacking': 'vertical',
                                'allowTyping': false,
                                'allowMultiple': false,

                            }
                        }
                    });

                    // Define a Bar chart
                    var bar = new google.visualization.ChartWrapper({
                        'chartType': 'BarChart',
                        'containerId': 'panel-1',
                        'options': {
                            'width': '100%',

                            'isStacked': true,
                            'title': 'Sentiment Analysis from Twitter',
                            'chartArea':{left:80, width:'70%'}

                        }
                    });

                    // Define a Column chart
                    var bar2 = new google.visualization.ChartWrapper({
                        'chartType': 'ColumnChart',
                        'containerId': 'panel-2',
                        'options': {
                            'width': '100%',

                            'isStacked': false,
                            'title': 'Sentiment Analysis from Twitter',
                            'chartArea':{left:80, width:'70%'}

                        }
                    });

                    // Create a dashboard
                    new google.visualization.Dashboard(document.getElementById('main-dashboard')).
                    // Establish bindings, declaring the both the slider and the category
                    // picker will drive both charts.
                    bind([categoryPicker], [bar, bar2]).
                    // Draw the entire dashboard.
                    draw(data);

                }
        </script>
        <div id="main-dashboard">
            <div id="control" style="display:none"></div>
            <div class="dashboard-panel" id="panel-1"></div>
            <div class="dashboard-panel" id="panel-2"></div>
            <script src="@routes.Assets.at("javascripts/bower_components/webcomponentsjs/webcomponents.js")"></script>
            <link rel="import" href="@routes.Assets.at("javascripts/bower_components/google-chart/google-chart.html")">
            <div class="dashboard-panel" id="panel-3">
                <google-chart
                type='column'
                options='{"title": "Distribution of days in 2001Q1"}'
                cols='[{"label":"Month", "type":"string"}, {"label":"Days", "type":"number"}]'
                rows='[["Jan", 31],["Feb", 28],["Mar", 31]]'>
                </google-chart>
            </div>
        </div>

    </section>
</div>
@footer()
}