@(styles: List[Style])(sPage: Int)(pages: Long)(retailersMap: Map[String, Integer])(selectedRetailers: List[String])
@import helper._
@main("Sandbook Tool"){
@header()
<div id="content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <aside>
        <div id="adv-filters">
            <Keyb class="details-title">Date</Keyb>
            <form action="@routes.Application.postStyles()" method="POST" id="dateForm">
                <script>
                $(document).ready(function(){
                       if (localStorage.getItem('dateSelected') != '') {
                            var ds = localStorage.getItem('dateSelected');
                            $('#datepicker').attr('placeholder',ds);
                       }
                       });
                </script>
                <input type="text" id="datepicker" name="date" placeholder="Date">
                <button id="submit" type="submit">Filter by Date</button></br>

                <script>
                $(function() {
                $.datepicker.setDefaults({
                    showOn: "both",
                    buttonImageOnly: true,
                    buttonImage: "/assets/images/icon-calendar.png",
                    buttonText: "Calendar",
                    autoSize: true,
                    onSelect: function (dateText, inst) {
                        localStorage.setItem('dateSelected', dateText);
                    }
                });
                $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd"});
                });
                </script>
            </form>
            <div id="retailer-filter">
                <h4 class="retailer-name">Retailer: </h4>
                @form(action = routes.Application.postStyles(1)) {
                <select multiple="multiple" id="retailers" name="retailers[]">
                    @for((retailerName, count) <- retailersMap.toList sortBy {_._1}) {
                        @if(selectedRetailers.contains(retailerName)) {
                            <option value="@retailerName" selected="selected">@retailerName.toLowerCase.split(" ").map(_.capitalize) (@count)</option>
                        } else {
                            @if(retailerName.toLowerCase != "u0027s") {
                                <option value="@retailerName">@retailerName.toLowerCase.split(" ").map(_.capitalize) (@count)</option>
                            }
                    }

                    }
                </select>
                <button type="submit" id="submit">Filter By Retailer</button>
                }
            </div>


        </div>
    </aside>
    <section>
     <h4 class="details-title">Styles</h4>
    <form action="@routes.Application.postStyles()" method="POST" id="search-form">
        <input name="search" type="text" placeholder="Search">
        <button id="submit" type="submit">Search</button></br>


    </form>

    <div id="styles-listing" class="listing-table">


           @for(style <- styles) {
                <div class="prod-teaser">
                    <div class="prod-thumb"><a href="@routes.Application.styledetail(style.getStyleId)"><img src="@style.getImgUrl" /></a></div>
                    <div class="name"><a href="@routes.Application.styledetail(style.getStyleId)">@style.getStyleName</a></div>

                    <div class="retailer">Retailer: @style.getRetailerName</div>
                    <div class="original-price">$@style.getOriginalPrice</div>
                </div>
           }

        @if(flash.containsKey("error")) {
        <div>
            @flash.get("error")
        </div>
        }
        <br/>
        <form id="paginationForm" action="@routes.Application.postStyles()" method="POST">
        <div id="pagination">
            <ul>
                <button type="submit" class="prev">Previous</button>
                <li class="current-page">@sPage</li>
                <li>of</li>
                <li class="total-pages">@pages</li>
                <button type="submit" class="next">Next</button>

            </ul>
        </div>
        </form>

        <script>
    var tPages = @pages;
    var sPage= @sPage;
    var sRetailers = [];
    sRetailers = '@selectedRetailers';
    var sDate = localStorage.getItem('dateSelected');
    $('.next').click(function(){

        sPage = sPage+1;
      //  window.location.href="/styles?sPage="+sPage;
      $('<input>').attr('type','hidden').attr('name','sPage').attr('value',sPage).appendTo('#paginationForm');
      $('<input>').attr('type','hidden').attr('name','date').attr('value',sDate).appendTo('#paginationForm');
      $('<input>').attr('type','hidden').attr('name','retailers').attr('value',sRetailers).appendTo('#paginationForm');
    })
    $('.prev').click(function(){

        sPage = sPage-1;
        //window.location.href="/styles?sPage="+sPage;
    });
    if(tPages==1){
        $('.next , .prev').addClass('disabled');
    }
    if(sPage==tPages){
        $('.next').addClass('disabled');
    }
    if(sPage==1){
        $('.prev').addClass('disabled');
    }




        </script>
    </section>
    </div>
@footer()
}