
<nav id="tools">
    <ul>
        <li><a href="@routes.Application.dashboard">@Messages("tab.dashboard")</a></li>
        <li><a href="@routes.Application.getIndex">@Messages("tab.comparison")</a></li>
        @*<li><a href="@routes.Application.overlaps">Overlaps</a></li>*@
        <li><a href="@routes.Application.telamNews()">@Messages("tab.news")</a></li>
        <li><a href="@routes.Application.retailers">@Messages("tab.sources")</a></li>
        @*<li><a href="#">Brands</a></li>*@
        @*<li><a href="@routes.Application.styles()">@Messages("tab.matching")</a></li>*@
    </ul>
</nav>
